[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==4.1.7"
#  mysqlclient = "*"
#  whitenoise = "*"
requests = "*"
uritemplate = "*"
sentry-sdk = "*"
django-debug-toolbar = "*"
#  #django-markdownx = ">=4"
#  #django-markdownx = {git = "https://github.com/neutronX/django-markdownx.git", editable = false}
#  #django-markdownx = {editable = true,path = "./../django-markdownx"}
django-markdownx = {git = "https://github.com/vallka/django-markdownx.git", editable = true}
#  #django-markdownx = {git = "https://github.com/vallka/django-markdownx.git", editable = true}
jinja2 = "*"
#  #jinja2-django-tags = "*"
update = "*"
pillow = "*" 
beautifulsoup4 = "*"
markdown = "*"
imagekitio = "*"
pcloud = "*"
python-dateutil = "*"
IPTCInfo3 = "*"
pandas = "*"
openpyxl = "*"
plotly = "*"
plotly-express = "*"
#selenium = "*"
django-extensions = "*"
#ipython = "*"
#notebook = "*"
exif = "*"
osgridconverter = "*"
#deepl = "*"
icecream = "*"
python-dotenv = "*"
djangorestframework = "*"
#asyncssh = "*"
mutagen = "*"
pyexiv2 = "*"
mysqlclient = "*"

[requires]
python_version = "3"

[pipenv] 
allow_prereleases = true
