asgiref==3.5.0
async-generator==1.10
attrs==21.4.0
beautifulsoup4==4.10.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
cryptography==36.0.1
Django==3.2.12
django-debug-toolbar==3.2.4
-e git+https://github.com/vallka/django-markdownx.git@78a1ed6c5a04f72f9d91026cab9e68f880847f0c#egg=django_markdownx
et-xmlfile==1.1.0
gunicorn==20.1.0
h11==0.13.0
idna==3.3
imagekitio==2.2.8
importlib-metadata==4.11.0
instaloader==4.8.4
IPTCInfo3==2.1.4
Jinja2==3.0.3
jinja2-django-tags==0.5
Markdown==3.3.6
MarkupSafe==2.0.1
mysqlclient==2.1.0
numpy==1.22.2
openpyxl==3.0.9
outcome==1.1.0
packaging==21.3
pandas==1.4.0
patsy==0.5.2
pcloud==1.0
Pillow==9.0.1
plotly==5.6.0
plotly-express==0.4.1
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
requests-toolbelt==0.9.1
scipy==1.8.0
selenium==4.1.0
sentry-sdk==1.5.5
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
sqlparse==0.4.2
statsmodels==0.13.2
style==1.1.0
tenacity==8.0.1
trio==0.19.0
trio-websocket==0.9.2
update==0.0.1
uritemplate==4.1.1
urllib3==1.26.8
whitenoise==6.0.0
wsproto==1.0.0
zipp==3.7.0
