{% extends 'base.html' %}

{% block description %}{{post.description}}{% endblock %}
{% block keywords %}{{post.keywords}}{% endblock %}

{% block title %}{{post.title}}{% endblock %}

{% block json_ld %}
{{post.json_ld|safe}}
{% endblock json_ld %}

{% block breadcrumb %}
<nav data-depth="3" class="breadcrumb hidden-sm-down">
  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
          
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="{% url 'blog:list' %}">
            <span itemprop="name">Blog</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
      
          
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="{% url 'blog:post' post.slug %}">
            <span itemprop="name">{{ post.title }}</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
    
  </ol>
</nav>
{% endblock breadcrumb %}


{% block content %}
{% if post %}
    {{post.formatted_markdown|safe}}
{% endif %}     
{% endblock content %}