{% extends "base.html" %}

{% block title %}vallka.com Blog Posts{% endblock %}

{% block breadcrumb %}
<nav data-depth="3" class="breadcrumb hidden-sm-down">
  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
          
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="{% url 'blog:list' %}">
            <span itemprop="name">Blog</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
      
          
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="{% url 'blog:post' post.slug %}">
            <span itemprop="name">{{ breadcrumb }}</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
    
  </ol>
</nav>
{% endblock breadcrumb %}


{% block content %}
{% if post_list %}
  {% for post in post_list %}
  {% if post.title_color %}
    <style>
      .blog_post_{{post.id}} .blog_header, 
      .blog_post_{{post.id}} .blog_date, 
      .blog_post_{{post.id}} .blog_header a {
        color: {{post.title_color}} !important;
      }
    </style>
  {% endif %}
  {% if post.title_bgcolor %}
    <style>
      .blog_post_{{post.id}} .blog_header {
        background-color: {{post.title_bgcolor}} !important;
      }
    </style>
  {% endif %}
    <div class="blog_post blog_post_{{post.id}}">
      <div class="blog_header">
        <h1><a href="{% url 'blog:post' post.slug %}">{{post.title}}</a></h1>
        <div class="blog_date">
          Published {{ post.blog_start_dt }}
        </div>
      </div>
      <div class="blog_body">
        {{post.formatted_markdown|safe}}
      </div>
      {% if post.read_more %}
        <h4><a href="{% url 'blog:post' post.slug %}">Read more...</a></h4>
      {% endif %}

    </div>
  {% endfor %}
{% else %}
  <p>There are no posts yet.</p>
{% endif %}     
{% endblock content %}



{% block javascript %}
{{ super() }}
{% endblock %}
