{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block extrahead %}{{ block.super }}
<link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<style>
.vTextField,.vLargeTextField {
    width: 610px;
}
.submit-row {
  position: fixed;
  bottom: -21px;
  right: 0;
  rsz-index: 10;
}
</style>
{% endblock %}


{% block submit_buttons_bottom %}
<hr>
{{ block.super }}
{% endblock %}

{% block admin_change_form_document_ready %}
{{ block.super }}

<script src="https://unpkg.com/@yaireo/tagify"></script>

<script>
var input_mykeyworder = document.querySelector('textarea[id=id_mykeyworder_tags]');
var input_adobe = document.querySelector('textarea[id=id_adobe_tags]');
var input_google = document.querySelector('textarea[id=id_google_tags]');
var input_aws = document.querySelector('textarea[id=id_aws_tags]');
var input_shutter = document.querySelector('textarea[id=id_shutter_tags]');
var input_tags = document.querySelector('textarea[id=id_tags]');
var tagy = {}
tagy['mykeyworder'] = new Tagify(input_mykeyworder);
tagy['adobe'] = new Tagify(input_adobe);
tagy['google'] = new Tagify(input_google);
tagy['aws'] = new Tagify(input_aws);
tagy['shutter'] = new Tagify(input_shutter);
tagy['tags'] = new Tagify(input_tags);

django.jQuery(function(){
    //django.jQuery('.submit-row').append('<input type="button" value="Preview" id="btn-preview">')
    //django.jQuery('.submit-row').append('<input type="button" value="Send Test" id="btn-send-test">')
    //django.jQuery('.submit-row').append('<input type="button" value="Stats" id="btn-stats">')


    django.jQuery('label[for=id_mykeyworder_tags]').append('<button class="button btn_add_tags" data-name="mykeyworder" style="display: block;"> Add to Tags</button>');
    django.jQuery('label[for=id_mykeyworder_tags]').append('<button class="button btn_copy_tags" data-name="mykeyworder" style="display: block;"> Copy</button>');
    django.jQuery('label[for=id_adobe_tags]').append('<button class="button btn_add_tags" data-name="adobe" style="display: block;"> Add to Tags</button>');
    django.jQuery('label[for=id_adobe_tags]').append('<button class="button btn_copy_tags" data-name="adobe" style="display: block;"> Copy</button>');
    django.jQuery('label[for=id_google_tags]').append('<button class="button btn_find_tags" data-name="google" style="display: block;"> Find</button>');
    django.jQuery('label[for=id_google_tags]').append('<button class="button btn_add_tags" data-name="google" style="display: block;"> Add to Tags</button>');
    django.jQuery('label[for=id_google_tags]').append('<button class="button btn_copy_tags" data-name="google" style="display: block;"> Copy</button>');
    django.jQuery('label[for=id_aws_tags]').append('<button class="button btn_add_tags" data-name="aws" style="display: block;"> Add to Tags</button>');
    django.jQuery('label[for=id_aws_tags]').append('<button class="button btn_copy_tags" data-name="aws" style="display: block;"> Copy</button>');
    django.jQuery('label[for=id_shutter_tags]').append('<button class="button btn_add_tags" data-name="shutter" style="display: block;"> Add to Tags</button>');
    django.jQuery('label[for=id_shutter_tags]').append('<button class="button btn_copy_tags" data-name="shutter" style="display: block;"> Copy</button>');
    django.jQuery('label[for=id_tags]').append('<button class="button btn_sort_tags" data-name="tags" style="display: block;"> Sort</button>');
    django.jQuery('label[for=id_tags]').append('<button class="button btn_copy_tags" data-name="tags" style="display: block;"> Copy</button>');

    django.jQuery('.btn_find_tags').click(function(e){
        e.preventDefault();
        console.log(django.jQuery(this).attr('data-name'));
        console.log(django.jQuery('input[name=name]').val());
        find_tags(django.jQuery('input[name=name]').val(),django.jQuery(this).attr('data-name'));
    });


    django.jQuery('.btn_add_tags').click(function(e){
        e.preventDefault();
        tagy['tags'].addTags(tagy[django.jQuery(this).attr('data-name')].value)
    });

    django.jQuery('.btn_copy_tags').click(function(e){
        e.preventDefault();
        copyTextToClipboard(untagify(tagy[django.jQuery(this).attr('data-name')].value,', '));
    });

    django.jQuery('.btn_sort_tags').click(function(e){
        e.preventDefault();

        let tagy_val = tagy[django.jQuery(this).attr('data-name')].value;
        tagy_val = tagy_val.sort(function(a,b){return a.value.toUpperCase().localeCompare(b.value.toUpperCase())})

        tagy[django.jQuery(this).attr('data-name')].removeAllTags();
        tagy[django.jQuery(this).attr('data-name')].addTags(tagy_val);
    });

    django.jQuery('#image_form').submit(function(){
        do_destroy(tagy['mykeyworder'],',');
        do_destroy(tagy['adobe'],',');
        do_destroy(tagy['google'],',');
        do_destroy(tagy['aws'],',');
        do_destroy(tagy['shutter'],',');
        do_destroy(tagy['tags'],',');

        return true;
    });

});

function do_destroy(tagif,delimeter=', ') {
    let text = untagify(tagif.value,delimeter);
    let id = tagif.DOM.originalInput.id;

    //tagif.destroy();

    tagif.DOM.originalInput.insertAdjacentElement('afterend',tagif.DOM.originalInput.cloneNode(false));
    tagif.DOM.originalInput.remove();
    document.getElementById(id).value = text;
}

function untagify(s,delimeter=', ') {
    let str='';
    for (var i=0;i<s.length;++i) {
        str += s[i].value;
        if (i<s.length-1)
            str += delimeter;
    }
    return str;
}

function copyTextToClipboard(text) {
  var textArea = document.createElement("textarea");

  textArea.style.position = 'fixed';
  textArea.style.top = 0;
  textArea.style.left = 0;

  // doesn't work as this gives a negative w/h on some browsers.
  textArea.style.width = '2em';
  textArea.style.height = '2em';

  textArea.style.padding = 0;

  textArea.style.border = 'none';
  textArea.style.outline = 'none';
  textArea.style.boxShadow = 'none';

  textArea.style.background = 'transparent';

  textArea.value = text;

  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    //console.log('Copying text command was ' + msg);
  } catch (err) {
    //console.log('Oops, unable to copy');
  }

  document.body.removeChild(textArea);
}


function find_tags(name,provider='') {
    fetch('/photo/api/findtags/', {
        method: 'POST',
        headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCookie('csrftoken')},
        body: JSON.stringify({name: name}),
    })
    .then(response => response.json())
    .then(data => {
        console.log(data.tags);
        tagy['google'].addTags(data.tags);
    });
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
        }
    }
    return cookieValue;
}

</script>
{% endblock %}