{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}


{% block extrahead %}
<!-- block extrahead -->
{{ block.super }}
<style>
td, th, table thead th, table thead th .text a, table thead th .text span {
  padding: 4px;
}
.column-instagram, .column-adobe, .column-shutter, .column-pexels, .column-rasfocus {
  max-width: 10px;
  overflow: hidden;
}

td div {
  max-height:200px;
  overflow: hidden;
}
.field-thumb_tag {
  max-width:251px;
  padding-right: 0;
}
.field-id a {
  color:white;
  background-color: #00000050;
}

  .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.loading .spinner {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.timer {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 44px; /* You can change the font size as needed */
  font-weight: bold;

}
</style>

<script>


django.jQuery(function(){
  django.jQuery('.copy_tags').click(function(e){
        e.preventDefault();
        var text = django.jQuery(this).parent('div').find('span.copy_tags').text();
        copyTextToClipboard(text);
        myAlert(text,1000)
    });
  django.jQuery('.copy_title').click(function(e){
      e.preventDefault();
      var text = django.jQuery(this).parent('div').find('span.copy_title').text();
      copyTextToClipboard(text);
      myAlert(text,1000)
  });

  document.getElementById('changelist-form').addEventListener('submit', function() {
    spinner_on();
  });

})
function copyTextToClipboard(text) {
  var textArea = document.createElement("textarea");

  textArea.style.position = 'fixed';
  textArea.style.top = 0;
  textArea.style.left = 0;

  // doesn't work as this gives a negative w/h on some browsers.
  textArea.style.width = '2em';
  textArea.style.height = '2em';

  textArea.style.padding = 0;

  textArea.style.border = 'none';
  textArea.style.outline = 'none';
  textArea.style.boxShadow = 'none';

  textArea.style.background = 'transparent';

  textArea.value = text;

  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    //console.log('Copying text command was ' + msg);
  } catch (err) {
    //console.log('Oops, unable to copy');
  }

  document.body.removeChild(textArea);
}

function myAlert(mymsg,mymsecs)
{
 var myelement = document.createElement("div");
myelement.setAttribute("style","background-color: grey;color:black; width: 450px;height: 100px;position: fixed;top:0;bottom:0;left:0;right:0;margin:auto;border: 1px solid black;display: flex; align-items: center; justify-content: center; text-align: center;");
 myelement.innerHTML = mymsg;
 setTimeout(function(){
  myelement.parentNode.removeChild(myelement);
 },mymsecs);
 document.body.appendChild(myelement);
}

var timerInterval; // Will be used to keep track of the interval that updates the timer
var startTime; // Will store the time when the spinner was created
var formattedTime;

function spinner_on() {
  // create the loading spinner element
  var spinner = document.createElement("div");
  spinner.className = "loading";
  spinner.innerHTML = `
    <div class="spinner"></div>
    <div class="timer">00:00</div>
  `;

  // append the spinner to the body
  document.body.appendChild(spinner);

  // Start the timer
  startTime = new Date(); // Capture the start time
  if (timerInterval) {
    clearInterval(timerInterval); // Clear any existing interval to avoid multiple timers running
  }
  timerInterval = setInterval(updateTimer, 1000); // Update the timer every second
}

function updateTimer() {
  var currentTime = new Date();
  var elapsedTime = currentTime - startTime; // Time elapsed in milliseconds
  var seconds = Math.floor(elapsedTime / 1000) % 60; // Convert to seconds
  var minutes = Math.floor(elapsedTime / (1000 * 60)); // Convert to minutes

  // Format time to always show two digits
  formattedTime = (minutes < 10 ? '0' + minutes : minutes) + ':' + (seconds < 10 ? '0' + seconds : seconds);

  // Update the timer element with the new time
  var timerElement = document.querySelector(".timer");
  if (timerElement) {
    timerElement.textContent = formattedTime;
  }
}

function spinner_off() {
  // remove the loading spinner element from the body
  var spinner = document.querySelector(".loading");
  if (spinner) {
    spinner.parentNode.removeChild(spinner);
  }
  
  // Stop the timer
  clearInterval(timerInterval);
}

</script>
<!-- /block extrahead -->
{% endblock %}

{% block content %}
<!-- block content -->
{{ block.super }}
<!-- /block content -->
{% endblock %}
