{% extends "base_skinned.html" %}

{% block title %}Good Weather{% endblock %}

{% block skin_css %}
{{ super() }}

<style>

body {

}

.weather_good {
  background-color: rgba(0, 191, 255, 0.4);
}

</style>
{% endblock %}

{% block header_search %} 
<form class="form-inline search-box d-flex justify-content-lg-end" action="{{ url ('fotoweb:search') }}">
    <input name="q" class="form-control mr-sm-4" type="text" placeholder="Search Places" value="{{q}}">
    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
 </form>
{% endblock header_search %} 


{% block breadcrumb %}
{% endblock breadcrumb %}


{% block content %}
{% if good_forecast %}
  {% set width = 90 %}

  <table id="good_forecast" class="table table-sm table-bordered table-striped table-hover table-responsive">
    <thead class="forecast_head">
      <tr>
      <th></th>
      {% for date in good_forecast['dates'] %}
        <th>{{date[5:]}}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody class="forecast_body">
      {% for c,f in good_forecast['forecast'].items() %}
      <tr class="forecast_row">
        <th>{{c}}</th>
        {% set dates_length = good_forecast['dates']|length %}

        {% for i in range(0,dates_length) %}
          {% if f[i]['good']==1 %}
            <td class="weather_good" colspan={{f[i]['length']}}" title="{{f[i]['date'][5:]}} - {{good_forecast['dates'][i-1+f[i]['length']][5:]}}">
              t:{{"%d"|format(f[i]['temp_max']+0.5)}} w:{{"%d"|format(f[i]['wind_max']+0.5)}}m/s
              <br>
              {{f[i]['date'][5:]}} - {{good_forecast['dates'][i-1+f[i]['length']][5:]}}
            </td>
          {% elif f[i]['good']==0 %}
            <td> </td>
          {% endif %}
        {% endfor %}

      </tr>
      {% endfor %}
    </tbody>
    <thead class="forecast_head">
      <tr>
      <th></th>
      {% for date in good_forecast['dates'] %}
        <th>{{date[5:]}}</th>
      {% endfor %}
      </tr>
    </thead>
  </table>  
    {% else %}
  <p>There are no forecast yet.</p>
{% endif %}

{% if is_paginated %}
<div class="blog_post">
  {% if page_obj.has_previous() %}
      {# <h4 class="paginator"><a href="?page=1">&#x300A;</a></h4> #}
      <h4 class="paginator"><a href="?page={{ page_obj.previous_page_number() }}">&#x3008;</a></h4></h4>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <h4 class="paginator paginator-current">{{ num }}</h4>
      {% else %}
      <h4 class="paginator"><a href="?page={{ num }}">{{ num }}</a></h4>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next() %}
      <h4 class="paginator"><a href="?page={{ page_obj.next_page_number() }}">&#x3009;</a></h4>
      {# <h4 class="paginator"><a href="?page={{ page_obj.paginator.num_pages }}">&#x300B;</a></h4> #}
    {% endif %}
</div>
{% endif %}


{% endblock content %}



{% block javascript %}
{{ super() }}
<script src="/static/unitegallery/js/unitegallery.js" type='text/javascript'  ></script>
<script src="/static/unitegallery/themes/tiles/ug-theme-tiles.js" type='text/javascript'></script>
<script type="text/javascript">
  var api;
  var g_logged = '';


  function g_log(img) {
    if (g_logged!=img.urlImage) {
      console.log('************* '+img.urlImage);
      g_logged = img.urlImage;
      let m = img.urlImage.match (/^(.+?)([^/]+)$/);
      let id=m[2];
      let dir=m[1];
      m=dir.match(/^(.*)(C1\/foto\/)(.+)(\/[^/]*2048[^/]*)/)
      let al=m[3];
      gtag("event", "view_item", {
        items: [{
          item_id: id,
          item_name: img.title,
          item_category: al,
       }]
      });
    }
  }

  jQuery(document).ready(function(){

    api = jQuery("#gallery").unitegallery({
      gallery_theme: "tiles",
	    tiles_type: "nested",
	    //tiles_type: "justified"
      tile_enable_textpanel:true,
	    tile_textpanel_title_text_align: "center"
    });

    api.on("item_change",function(num, data){		
      console.log("item_change "+num);
      console.log(data);
      g_log(data);
    });
    api.on("open_lightbox",function(lb, data){		
      console.log("open_lightbox ");
      console.log(data);
      g_log(data);
    });

    
  });
  </script>
{% endblock %}
