body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #232323;
  line-height: 1.25em;
  letter-spacing: initial;
}

footer {
    color: white;  
    background-color: #333;
    margin: 0;
    padding: 2rem 3rem;
    text-align: left;
    font-size: 16px;
  }
  
  footer img {
    margin-top: -15px;
    margin-left: -5px;
  }
  
  footer .fa {
    margin: 10px 4px 0 0;
  }
  
  h3.footer, h4.footer,
  hr.footer {
    color: white !important;
    text-align: left;
  }
  
  footer h4.footer {
    font-size: 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  
  footer .copy {
    font-size: 14px;
    text-align: center;
  }
  
  footer .terms {
    font-size: 14px;
    text-align: center;
  }
  
  footer .about {
    margin-top: 5px;
  }
  
  hr.solid {
    border-top: 1px solid #fff;
    margin: 1rem;
  }


footer li {
  color: #7a7a7a;
  font-size: .84rem;
  line-height: 1.7;
}

footer li a{
  color: #7a7a7a;
}
footer li a:hover{
  color: #4ab1a8;
  text-decoration: none;
}

footer i,footer .copy {
  color: #4ab1a8;
}


.nav-link, .nav-link a {
  color: white !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  color: #fff;
  text-align: left;
  list-style: none;
  background-color: #1a1a1a;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.dropdown-item, .dropdown-item:hover {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  white-space: nowrap;
  background-color: #1a1a1a;
  border: 0;
}

h1, h2, h3 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: #4ab1a8;
    text-transform: initial;
    letter-spacing: initial;
}

.h1, h1 {
  font-size: 1.375rem;
  margin-bottom: 1.563rem;
  color: #1a1a1a;
}
.h2, h2 {
  color: #4ab1a8;
}
.h3, h3 {
  color: #1a1a1a;
}

.blog_post h4, .blog_post h5, .blog_post h6 {
  text-transform: initial;
  letter-spacing: initial;
  font-size: 1rem;
  background-color: #4ab1a8;
  color: white;
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
}

.blog_post h4:hover, .blog_post h5:hover, .blog_post h6:hover {
  background-color: #f766a2;
  color: #fff;
  text-decoration: none;
}

.blog_post h4 a, .blog_post h5 a, .blog_post h6 a {
  color: white;
}
.blog_post h4 a:hover, .blog_post h5 a:hover, .blog_post h6 a:hover {
  color: #fff;
  text-decoration: none;
}

.blog_post .blog_header {
  background-color: #c5fdf8;
  border-radius: 5px;
  padding-top: 0.5rem;
}

.blog_post ol,.blog_post ul {
  margin-top: 0;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

.blog_post pre {
    font-size: 91.5%;
    color: #026684;
    text-align: left;
    background-color: #daf6ff;
   padding: 10px;
}

.breadcrumb {
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #f6f6f6;
  border-radius: 0;
}

.breadcrumb ol {
  padding-left: 0;
  margin-bottom: 0;
}
dl, ol, ul {
  margin-top: 0;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li::after {
  content: "/";
  color: #7a7a7a;
  margin: .3125rem;
}

.breadcrumb li:nth-last-child(1)::after {
  content: "";
}

.breadcrumb li a {
  color: #232323;
}

.blog_content {
  background-color: #f6f6f6;
  margin-top: -1rem;
  padding-bottom: 2rem;
}

.blog_post {
  max-width: 712px;
  text-align: center;
  background-color: white;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog_post p {
  text-align: left;
}


@media (min-width: 768px){
  .blog_post {
    border-radius: 5px;
  }
}


.blog_post img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.blog_post p {
}

.blog_post p a {
  color: #2fb5d2;
}


.blog_date {
  font-style: italic;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  margin-top: -1.5rem;
  margin-bottom: 0.5rem;
}

.footer-container {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  overflow: hidden;
  box-shadow: 2px 2px 11px 0 rgba(0,0,0,.3);
}