body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #232323;
  line-height: 1.25em;
}

footer {
    color: white;  
    background-color: #333;
    margin: 0;
    padding: 2rem 3rem;
    text-align: left;
    font-size: 16px;
  }
  
  footer img {
    margin-top: -15px;
    margin-left: -5px;
  }
  
  footer .fa {
    margin: 10px 4px 0 0;
  }
  
  h3.footer, h4.footer,
  hr.footer {
    color: white !important;
    text-align: left;
  }
  
  footer h4.footer {
    font-size: 1.125rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  
  footer .copy {
    font-size: 14px;
    text-align: center;
  }
  
  footer .terms {
    font-size: 14px;
    text-align: center;
  }
  
  footer .about {
    margin-top: 5px;
  }
  
  hr.solid {
    border-top: 1px solid #fff;
    margin: 1rem;
  }


footer li {
  color: #7a7a7a;
  font-size: .84rem;
  line-height: 1.7;
}

footer li a{
  color: #7a7a7a;
}
footer li a:hover{
  color: #d73672;
  text-decoration: none;
}

footer i,footer .copy {
  color: #d73672;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
    text-transform: initial;
    letter-spacing: initial;
}

.h1, h1 {
  font-size: 1.375rem;
  margin-bottom: 1.563rem;
}

.breadcrumb {
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #f6f6f6;
  border-radius: 0;
}

.breadcrumb ol {
  padding-left: 0;
  margin-bottom: 0;
}
dl, ol, ul {
  margin-top: 0;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li::after {
  content: "/";
  color: #7a7a7a;
  margin: .3125rem;
}

.breadcrumb li:nth-last-child(1)::after {
  content: "";
}

.breadcrumb li a {
  color: #232323;
}

.blog_post {
  max-width: 610px;
}

.blog_post img {
  max-width: 100%;
}

.blog_date {
  font-style: italic;
  font-size: 0.8rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #aaa;
  max-width: 610px;
}

.footer-container {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  overflow: hidden;
  box-shadow: 2px 2px 11px 0 rgba(0,0,0,.3);
}