{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block filters %}
    {% if cl.has_filters %}
        <style>
            a#filter-off-btn {
                float: right;
                color: #fff !important;
                padding: 1px 4px;
                font-size: 18px;
            }            
            #filter-off-btn a {
            }
            #filter-off-btn::before {
                content: '\00BB';
            }
            a#filter-on-btn {
                float: right;
                background: var(--primary);
                color: var(--primary-fg);
                padding: 1px 4px;
                margin-top: -25px;
            }
            #filter-on-btn::before {
                content: '\00AB';
                font-size: 18px;
                padding: 0 4px 0 0;
            }
        </style>
        <script>
            function filterOff() {
                const newElement = document.createElement('a');
                newElement.textContent = 'Filter';
                newElement.id="filter-on-btn";
                newElement.onclick=filterOn;
                newElement.href="#";

                document.getElementById('toolbar').appendChild(newElement);
                document.getElementById('changelist-filter').style.display="none";
            }
            function filterOn() {
                document.getElementById('changelist-filter').style.display="block";
                document.getElementById('filter-on-btn').remove();
            }
        </script>
        <div id="changelist-filter">
        <a id="filter-off-btn" href="#" onclick="filterOff()"></a>
        <h2>{% translate 'Filter' %}</h2>
        {% if cl.has_active_filters %}<h3 id="changelist-filter-clear">
            <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
        </h3>{% endif %}
        {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
        </div>
    {% endif %}
{% endblock %}
