{% extends "base_skinned.html" %}

{% block title %}Fotoweb{% endblock %}

{% block skin_css %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block header_search %} 
<form class="form-inline search-box d-flex justify-content-lg-end" action="{% url 'fotoweb:search' %}">
    <input name="q" class="form-control mr-sm-4" type="text" placeholder="Search Photos">
    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
 </form>
{% endblock header_search %} 


{% block breadcrumb %}
<nav data-depth="3" class="breadcrumb hidden-sm-down">
  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
          
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="{% url 'fotoweb:albums' %}">
            <span itemprop="name">Photo</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
          
        {% if breadcrumb %}
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <span itemprop="name">{{ breadcrumb }}</span>
            {% if album_id %}
              {% if request.user.is_authenticated and request.user.is_staff: %}
                <a href="/admin/fotoweb/image/?q=a:{{ album_id }}" target="_blank" title="Open in Admin">{{ album_id }}</a>
              {% endif %}
            {% endif %}
          <meta itemprop="position" content="2">
        </li>
        {% endif %}
    
  </ol>
</nav>
{% endblock breadcrumb %}


{% block content %}
{% if image %}
  <div id="image">
          <img src="{{image.url}}?tr=w-1110" 
            class="img-fluid"
            alt="{{image.title if image.title else image.name}}" 
          />

  </div>
{% else %}
  <p>There are no images yet.</p>
{% endif %}


{% endblock content %}



{% block javascript %}
{{ super() }}
{% endblock %}
